.navbar {
  background-color: maroon;
  align-items: center;
  padding: 1px 2px;
  display: flex;
  justify-content: space-between;  
}

.navbar-brand {
  font-family: 'Montserrat'; /* Choose your font */
  font-size: 25px; /* Adjust size */
  font-weight: bold; /* Make it bold */
  letter-spacing: 1px; /* Add space between letters */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Light shadow effect */
  animation: fadeIn 2s ease-out; /* Smooth fade-in animation */
  background-image: linear-gradient(to right, #e5dddd, #e6ebea); /* Gradient background */
  background-clip: text; /* Clip the gradient to the text */
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Make the text color transparent so the gradient shows */
}

.navbar-nav {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
/*  align-items:center;*/
}

.nav-item {
  display: flex;
  /*flex-wrap: wrap;*/ /* Allows the items to wrap into new rows */
}

.nav-link {
  color: white; /* Default text color */
  padding: 1px 1px; /* Adds padding for links */
  text-decoration: none; /* Removes the underline from links */
}

    .nav-link:hover {
      color: white; /* Changes color on hover */
      background-color: #4a1b1b; /* Light background on hover */
      border-radius: 4px; /* Rounded corners on hover */
    }

  .nav-item.active .nav-link {
    color: white; /* Text color for active link */
    background-color: #007bff; /* Background color for active link */
    border-radius: 4px;
  }

.dropdown-menu {
  position: absolute;
}


.dropdown-item{
    font-size: 12px;
}

  .dropdown-item:hover {
    background-color: maroon; /* Background color for active link */
    color: white;
  }

.start-sell {
  background-color: darkorange;
  color: black;
  font-weight: 600;
  /*min-width: 125px;*/
  /*margin-right: 50px;*/
}


.search-container {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Center align the container */
  max-width: auto; /* Limit the width of the search container */
  margin: 1px auto; /* Add margin and center the container */
  padding: 1px; /* Padding inside the container */
  border-radius: 5px; /* Rounded corners */
  background-color: #f8f8f8; /* Light background color */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Light shadow around the container */
}

/* Styling for the search input field */
.search-input {
  margin-left: 10px;
  flex-grow: 1; /* Make the input field take up remaining space */
  padding: 6px 12px; /* Add padding inside the input field */
  font-size: 12px; /* Set font size */
  max-width: auto;
  border: 1px solid black; /* Light border */
  border-radius: 4px; /* Rounded corners for the input */
  outline: none; /* Remove outline on focus */
  transition: all 0.3s ease; /* Smooth transition for focus effect */
}

  /* Focus effect for the search input */
  .search-input:focus {
    border-color: black; /* Blue border when focused */
    box-shadow: 0 0 5px rgba(0,123,255,0.5); /* Light blue shadow on focus */
  }

/* Styling for the search button */
.search-btn {
  padding: 6px 12px; /* Add padding inside the button */
  font-size: 14px; /* Set font size */
  font-weight:500;
  width: 150px;
  margin-right: 50px;
  margin-left: 10px; /* Add space between the input and button */
  border: none; /* Remove the default border */
  border-radius: 4px; /* Rounded corners for the button */
  background-color: whitesmoke; 
  color: black; /* White text color */
  cursor: pointer; /* Change cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

  /* Hover effect for the search button */
  .search-btn:hover {
    background-color: burlywood; /* Darker blue background on hover */
  }

  /* Active or clicked state for the button */
  .search-btn:active {
    background-color: #003f87; /* Even darker background when clicked */
  }

/* Products (Inventory) style */
.category-products > a.nav-link {
  /*color: #4CAF50;*/ /* Green */
  /*font-weight: 600;*/
  /*border-bottom: 2px solid #4CAF50;*/
  /*padding-bottom: 8px;*/
  /*margin-right: 80px;*/

}

/* Discounted style */
.category-discounted > a.nav-link {
  /*color: #2196F3;*/ /* Blue */
  /*font-weight: 600;*/
  /*border-bottom: 2px dashed #2196F3;*/
  /*padding-bottom: 8px;*/
  /*margin-left: 80px;*/
  /*margin-top: 10px;*/
}

/* Scrap (Waste) style */
.category-scrap > a.nav-link {
  /*color: #FF5722;*/ /* Deep orange */
  /*font-weight: 600;*/
  /*padding-left: 20px;*/ /* indent */
  /*border-bottom: 2px dotted #2196F3;*/
  /*padding-bottom: 8px;*/
  /*margin-left: 10px;*/
  /*margin-top: 15px;*/
}


/* Animation to fade in the brand name */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Starts slightly above */
  }

  to {
    opacity: 1;
    transform: translateY(0); /* Ends at its natural position */
  }
}

.btn {
    color: white;
}


/* Blinking Link Effect */
.blinking-link {
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  /*animation: blink-animation 1.5s infinite step-start;*/
  display: inline-block;
  font-size: 1.4em;
  background-color: teal; /* Purple */
  color: white;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 25px; /* Creates padding around the text */
  border: 2px solid #fff; /* White border around the link */
  border-radius: 50px; /* Makes the boundary oval */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Keyframe animation for blinking */
@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking-link:hover {
  animation-play-state: paused;
  background-color: #343114; /* Tomato color */
  color: white;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .navbar {
    padding: 2px;
    flex-wrap: nowrap;

  }

  .navbar-brand {
    font-size: 15px; /* Adjust size */

  }

  .navbar-nav {
/*    flex-wrap: wrap;  
    flex-direction: column;  */
    width: 100%; /* Full width for nav items */
    font-size: xx-small;
    /*display:none;*/
    /*align-items: flex-start;*/ /* Align items to the start */
  }

  .nav-item {
    /*margin-bottom: 10px;*/ /* Add spacing between menu items */
  }

  .nav-link {
    /*padding: 8px 10px;*/ /* Increase padding for better touch targets */
  }

  .start-sell {
    min-width: 80px; /* Adjust minimum width for mobile */
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 1px;

  }

  .btn {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 0.7em;
  }

  .search-container {
    /*flex-direction: column;*/ /* Stack search elements vertically */
    width: 100%; /* Full width for search container */
    /*margin: 10px 0;*/ /* Add margin for spacing */

  }

  .search-input {
    width: 100%; /* Full width for input field */
    /*margin-bottom: 10px;*/ /* Add margin below input field */
  }

  .search-btn {
    /*width: 50%;*/ /* Full width for search button */
    margin-right: 10px;
    margin-left: 2px; /* Add space between the input and button */
  }

  .blinking-link {
    font-size: 0.75em; /* Adjust font size for mobile */
    padding: 5px 8px; /* Adjust padding for mobile */
    width: 200px;
    text-align: center;
    display: inline-block;
  }

  /* Products (Inventory) style */
  .category-products > a.nav-link {
    /*color: #4CAF50;*/ /* Green */
    /*font-weight: 600;*/
/*    border-bottom: 1px solid #4CAF50;
    padding-bottom: 0px;*/
    margin-right: 0px;
  }

  /* Discounted style */
  .category-discounted > a.nav-link {
    /*color: #2196F3;*/ /* Blue */
    /*font-weight: 600;*/
/*    border-bottom: 1px dashed #2196F3;
    padding-bottom: 0px;*/
    margin-left: 0px;
    /*margin-top: 10px;*/
  }

  /* Scrap (Waste) style */
  .category-scrap > a.nav-link {
    /*color: #FF5722;*/ /* Deep orange */
    /*font-weight: 600;*/
    /*padding-left: 0px;*/ /* indent */
    /*border-bottom: 1px dotted #2196F3;
    padding-bottom: 0px;*/
    margin-left: 0px;
    /*margin-top: 15px;*/
  }
}
