<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/return-policy">Return Policy</a></li>
        <li><a routerLink="/shipping-policy">Shipping Policy</a></li>
        <li><a routerLink="/career">Careers</a></li>
        <li><a routerLink="/complaints">Complaints</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-socials">
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://x.com/tradeinventory_" target="_blank" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/tradeyourinventory/" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/trade-your-inventory-7439a7379/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 TYIN SOLUTIONS PRIVATE LIMITED. All Rights Reserved.</p>
  </div>
</footer>
