<div class="contact-container">
  <h5>Contact Us</h5>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <!--<label>Name</label>-->
      <input placeholder="Name" type="text" formControlName="name" />
      <div *ngIf="submitted && contactForm.controls['name'].errors" class="error">
        Name is required.
      </div>
    </div>

    <div>
      <!--<label>Email</label>-->
      <input placeholder="Email" type="email" formControlName="email" />
      <div *ngIf="submitted && contactForm.controls['email'].errors" class="error">
        Valid email is required.
      </div>
    </div>

    <div>
      <!--<label>Message</label>-->
      <textarea placeholder="Message" rows="5" formControlName="message"></textarea>
      <div *ngIf="submitted && contactForm.controls['message'].errors" class="error">
        Message is required.
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>

  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
