
<div *ngIf="showLoginPopup" class="login-popup">
  <div class="login-popup-overlay" (click)="closeLoginPopup()"></div>
  <div class="login-popup-content">
    <div> Post Your Requirements </div>

    <!--<div class="login-popup-header">-->
    <!-- Form -->
    <form [formGroup]="postAiReqForm" (ngSubmit)="postAiReq()">
      <div class="mobile-input">
        <!--<label for="mobileNumber">Mobile Number:</label>-->
        <input id="title"
               type="text"
               class="form-control"
               formControlName="title"
               placeholder="Share Your Vision, We’ll Make It Happen!" />
      </div>
      <div class="mobile-input">
        <!--<label for="mobileNumber">Mobile Number:</label>-->
        <textarea id="description"
               type="text"
               class="form-control"
               formControlName="description"
               placeholder="Tell Us in Detail, We’ll Craft the Perfect Solution!"
               style="height:200px; font-size:0.85rem"></textarea>
      </div>
      <div class="mobile-input">
        <!--<label for="mobileNumber">Mobile Number:</label>-->
        <input id="mobileNo"
               type="text"
               class="form-control"
               formControlName="mobileNo"
               placeholder="Mobile Number" />
      </div>
      <!-- Error message -->
      <div *ngIf="MobileNo?.invalid && MobileNo?.touched" class="error-message">
        <small *ngIf="MobileNo?.hasError('required')">Mobile number is required.</small>
        <small *ngIf="MobileNo?.hasError('pattern')">Mobile number must be 10 digits and contain only numbers.</small>
      </div>
      <button type="submit" class="submit-btn" [disabled]="postAiReqForm.invalid">Submit</button>
      <div class="quotation-msg"> {{msg}}</div>
    </form>
    <!--</div>-->
  </div>
</div>
