<div class="header-m1 p-4 border my-rounded-corner">
  <h5 class="py-2"><strong>My Profile</strong></h5>
  <div class="mt-7">
    <div class="mt-7">
      <strong>
        Personal Information
      </strong>
      <button (click)="toggleExpand('PD')">
        <i class="fa" [ngClass]="isExpandedPD ? 'fa-minus' : 'fa-plus'"></i>
      </button>
    </div>
    <table class=" styled-table mx-auto " *ngIf="isExpandedPD ">
      <tbody>
        <tr>
          <td class="fs-7 text-light first-column" >Name</td>
          <td class="fs-7 text-light"> {{user.firstName}} {{user.lastName}}  </td>
        </tr>
        <tr>
          <td class="fs-7 text-light">Email Id</td>
          <td class="fs-7 text-light">{{user.email}}</td>
        </tr>
        <tr>
          <td class="fs-7 text-light">Address</td>
          <td class="fs-7 text-light">{{user.address}}</td>
        <tr>
          <td class="fs-7 text-light">Mobile No</td>
          <td class="fs-7 text-light">{{user.mobile}}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-7">
      <strong>Company/Seller Details</strong>
      <button (click)="toggleExpand('OD')">
        <i class="fa" [ngClass]="isExpandedOD ? 'fa-minus' : 'fa-plus'"></i>
      </button>
    </div>
    <table class=" styled-table mx-auto " *ngIf="isExpandedOD">
      <tbody>
        <tr>
        <tr>
          <td class="fs-7 text-light first-column">Company Name</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton1Disabled" class="org-details-text">
              {{user.userOrganizationName}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton1Disabled" [(ngModel)]="user.userOrganizationName" placeholder="Enter Organization Name" />
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(1)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light first-column">Company Email Id</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton8Disabled">
              {{user.userOrganizationEmailId}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton8Disabled" [(ngModel)]="user.userOrganizationEmailId" placeholder="Enter Organization Email Id" />
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(8)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light first-column">Company Address</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton9Disabled" class="org-details-text">
              {{user.userOrganizationAddress}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton9Disabled" [(ngModel)]="user.userOrganizationAddress" placeholder="Enter Organization Address" />
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(9)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td class="fs-7 text-light">Company Mobile No </td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton3Disabled">
              {{user.userMobileNoSec}}
            </div>
            <div>
              <input class="acc-input" type="text" [(ngModel)]="user.userMobileNoSec" (ngModelChange)="validateMobileNumber()" *ngIf="!isButton3Disabled" placeholder="Enter Mobile No" />
            </div>
            <div *ngIf="user.userMobileNoSec && !isValid" class="error-message">
              <small>Invalid mobile number.</small>
            </div>
          </td>
          <td class="fs-7 text-light">
            <button class="card-btn " (click)="enableEdit(3)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light">GST Number</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton2Disabled">
              {{user.userGSTNo}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton2Disabled" [(ngModel)]="user.userGSTNo" placeholder="Enter GST No" />
            </div>
          </td>
          <td class="fs-7 text-light">
            <button class="card-btn " (click)="enableEdit(2)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light first-column"> Legal Status of Firm</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton10Disabled">
              {{user.userOrganizationLegalStatus}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton10Disabled" [(ngModel)]="user.userOrganizationLegalStatus" placeholder="Enter Organization Legal Status" />
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(10)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light first-column"> Nature Of Business</td>
          <td class="fs-7 text-light">
            <div *ngIf="isButton11Disabled" class="org-details-text">
              {{user.userOrganizationNatureBusiness}}
            </div>
            <div>
              <input class="acc-input" type="text" *ngIf="!isButton11Disabled" [(ngModel)]="user.userOrganizationNatureBusiness" placeholder="Enter Organization Nature of Business" />
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(11)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="fs-7 text-light first-column"> Company Details</td>
          <td class="fs-7 text-light" >
            <div *ngIf="isButton12Disabled" class="org-details-text"  style="white-space: pre-wrap; text-align: justify;">
              {{user.userOrganizationDetails}}
            </div>
            <div>
              <textarea class="acc-input" rows="1" type="text" *ngIf="!isButton12Disabled" [(ngModel)]="user.userOrganizationDetails"
                        style="width: 100%; resize: none; overflow: hidden;" placeholder="Enter Organization Details" (input)="autoGrow($event)"></textarea>
            </div>
          </td>
          <td class="fs-7 text-light" style="width: 10px">
            <button class="card-btn " (click)="enableEdit(12)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tr>
        <td></td>
        <td class="fs-7 text-light">
          <button class="acc-btn" (click)="updateToUser(user)" [disabled]="!isValid">
            Update
          </button>
        </td>
        <td></td>
      </tr>
    </table>
    <div class="mt-3 text-center">
      <h5 class="text">{{message}}</h5>
    </div>
  </div>
</div>
<div class="header-m1 p-4 border my-rounded-corner">
  <div class="grid-view" *ngIf="view === 'grid'">
    <h5>
      Seller Products
      <button (click)="toggleExpand('Product')">
        <i class="fa" [ngClass]="isExpandedProduct ? 'fa-minus' : 'fa-plus'"></i>
      </button>
    </h5>
    <div class="row">
      <div class="item" *ngFor="let product of products ">
        <app-product *ngIf="isExpandedProduct" [product]="product" [buyFlag]="buyFlag"></app-product>
      </div>
    </div>
  </div>
  <div *ngIf="user.email=='gajendraprasad2726@gmail.com'">
    <a routerLink="/admin-approvals">Approvals</a>
  </div>
</div>

